body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#f4ecd6, #fbf8ef);
    font-family: 'Pixelify Sans', 'Roboto', sans-serif;
}

h1 {
    font-size: 75px;
    text-shadow: 3px 3px 0px #ca3c4a, 6px 6px 0px #ef7546, 9px 9px 0px #99beb7;
    margin: 15px;
}

.etch {
    display: flex;
    justify-content:center;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background-color: white;
}

.color-container {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 25px;
}

.color {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
}

.red {
    background-color: #ca3c4a;
}
.red:hover {
    background-color: #d35f6a;
}

.orange {
    background-color: #ef7546;
}
.orange:hover {
    background-color: #f29069;
}

.yellow {
    background-color: #f2c665;
}
.yellow:hover {
  background-color: #f4ce7c;
}

.blue {
    background-color: #99beb7;
}
.blue:hover {
  background-color:  #a8c7c2;
}

.black {
    background-color: #2a2a3c;
}
.black:hover {
  background-color: #434360;
}
.eraser {
    background-color: white;
    border: 1px solid black;
}
.eraser:hover {
  background-color: #ebebeb;
}

.grid-container {
    font-family: '';
    margin: 0;
    padding: 25px;
    gap: 25px;
}

.button {
  width: 200px;
  height: 75px;
  font-family: sans-serif;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(#ebdbad, #f3eace);
}
.button:hover {
    background: linear-gradient(#f3eace, #ebdbad);
}

.row {
    display: flex;
    flex: 1;
}

.cells {
    flex: 1;
}